@model TCC.CursosOnline.Dominio.Entidades.AtividadeViewModel


@{
    ViewBag.Title = "Visualizar Atividade";
}


<p>
    <h3> @Model.Nome_atividade</h3>
</p>
<hr />

<div class="list-group">
    <ul style="list-style-type:decimal; ">

        @foreach (var questao in Model.ListaQuestoes)
        {
            <li>
                <h5>@questao.Enunciado</h5>
                <ul style="list-style-type:upper-alpha">
                    @foreach (var opcao in Model.ListaOpcoes.Where(p => p.Id_questao.Equals(questao.Id_questao)))
                    {
                        <li>
                            @if (opcao.Correta)
                            {
                                <strong>(Correta) </strong>

                            } @opcao.Descricao

                        </li>
                    }
                </ul>
            </li>
            <br />

        }
    </ul>
</div>


