@model TCC.CursosOnline.Dominio.Entidades.AtividadeViewModel
<ul style="list-style-type:circle; ">
    @if (Model.ListaQuestoes.Count > 0)
    {
        foreach (var questao in Model.ListaQuestoes)
        {
            <input type="hidden" id="QuestaoId" name="QuestaoId" value="@questao.Id_questao" />
            <li>
                <h5>@questao.Enunciado</h5>
                <ul style="list-style-type:upper-alpha">
                    @foreach (var opcao in Model.ListaOpcoes.Where(p => p.Id_questao.Equals(questao.Id_questao)))
                    {
                        <li>
                            <input type="radio" class="radio radio-inline" name="OpcaoId" value="@opcao.Id_opcao">@opcao.Descricao

                        </li>
                    }
                </ul>
            </li>
                                <br />
        }
    }
    else
    {
        <ul>
            
                <p>Não existe questões pendentes para responder.</p>              
            

        </ul>
    }
   
</ul>

